.list-group {
    max-height: 450px;
    max-width: auto;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right:10%;
    overflow-y: scroll;
}

/* Movie information card */
/* #movieInfoCard {
    max-height: 450px;
} */
.card {
    max-height: 450px;
    max-width: auto;
    overflow-y: scroll;
}

img.mr-3 {
    max-width: 30%;
    max-height: 100%;
}